<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="card">
            <h2><span>Card</span> {{card.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Mobile Service</span></dt>
                <dd>
                    <span>{{card.mobileService}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{card.price}}</span>
                </dd>
                <dt><span>Serial Number</span></dt>
                <dd>
                    <span>{{card.serialNumber}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{card.code}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{card.createdDate}}</span>
                </dd>
                <dt><span>Exported Date</span></dt>
                <dd>
                    <span>{{card.exportedDate}}</span>
                </dd>
                <dt><span>Updated Date</span></dt>
                <dd>
                    <span>{{card.updatedDate}}</span>
                </dd>
                <dt><span>User Id</span></dt>
                <dd>
                    <span>{{card.userId}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{card.status}}</span>
                </dd>
                <dt><span>Real Price</span></dt>
                <dd>
                    <span>{{card.realPrice}}</span>
                </dd>
                <dt><span>Deleted</span></dt>
                <dd>
                    <span>{{card.deleted}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/card-my-suffix', card.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
